@page "/fetchdata"

<PageTitle>Ag Grid Test</PageTitle>

@using BlazorAgGridTest.Data
@using Newtonsoft.Json
@inject WeatherForecastService ForecastService
@inject IJSRuntime JS

@if (Peoples == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <h2>AG Grid</h2>
    <AgGrid Data="@Peoples" 
            Height="800px"
            Width="60%"
            Pageable="true"
            PageSize="20"
            ValueType="PeopleModel"
            FullRowEdit="false"
            OnEdit=@OnEdit>

            <GridColumn Field="@nameof(PeopleModel.Age)" Title="Alter" Sortable="true" Resizable="false" Editable="true" GridCellFormatter="@GridCellFormatter.DecimalsFormatter"></GridColumn> 
            <GridColumn Field="@nameof(PeopleModel.Name)" Title="Name" Sortable="true" Resizable="true" Editable="true"></GridColumn> 
            <GridColumn Field="@nameof(PeopleModel.Email)" Title="Email" Sortable="true" Resizable="true" Editable="true"></GridColumn> 
            <GridColumn Field="@nameof(PeopleModel.Address)" Title="Adresse" Sortable="true" Resizable="true" Editable="false"></GridColumn> 
            <GridColumn Field="@nameof(PeopleModel.Registered)" Title="Registrierdatum" Sortable="false" Resizable="true" Editable="true" GridCellFormatter="@GridCellFormatter.DateFormatter"></GridColumn> 
    </AgGrid>

    @if (GridEdited && PeopleTest != null)
    {
        <H3>Hello From Blazor.. object below was edited:</H3>
        <p>
            @PeopleTest.Age | 
            @PeopleTest.Name | 
            @PeopleTest.Email | 
            @PeopleTest.Address | 
            @PeopleTest.Registered | 
        </p>

    }
}

@code {
    public List<PeopleModel>? Peoples { get; set; }
    public PeopleModel? PeopleTest { get; set; }
    public bool GridEdited { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var json = File.ReadAllText("Data/PeopleData.txt");
        Peoples = JsonConvert.DeserializeObject<List<PeopleModel>>(json);
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await JS.InvokeVoidAsync("loadJs", "./js/JavaScript.js");
    }

    protected void OnEdit(PeopleModel peopleModel)
    {
        PeopleTest = peopleModel;
        GridEdited = true;
    }
}
