@page "/fetchdata"

<PageTitle>Weather forecast</PageTitle>

@using BlazorAgGridTest.Data
@using Newtonsoft.Json
@inject WeatherForecastService ForecastService

<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from a service.</p>

@if (forecasts == null)
{
    <p><em>Loading...</em></p>
}
else
{
    
    <h2>AG Grid</h2>
    <AgGrid Data="@Peoples" 
            Height="800px"
            Width="77%">

            <GridColumn Field="@nameof(PeopleModel.Age)" Title="Alter" Sortable="true" Resizable="false"></GridColumn> 
            <GridColumn Field="@nameof(PeopleModel.Name)" Title="Name" Sortable="true" Resizable="true"></GridColumn> 
            <GridColumn Field="@nameof(PeopleModel.Email)" Title="Email" Sortable="true" Resizable="true"></GridColumn> 
            <GridColumn Field="@nameof(PeopleModel.Address)" Title="Adresse" Sortable="true" Resizable="true"></GridColumn> 
            <GridColumn Field="@nameof(PeopleModel.Registered)" Title="Restrierdatum" Sortable="false" Resizable="true"></GridColumn> 
    </AgGrid>


    <h2>HTML Table</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Temp. (C)</th>
                <th>Temp. (F)</th>
                <th>Summary</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var forecast in forecasts)
            {
                <tr>
                    <td>@forecast.Date.ToShortDateString()</td>
                    <td>@forecast.TemperatureC</td>
                    <td>@forecast.TemperatureF</td>
                    <td>@forecast.Summary</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private WeatherForecast[]? forecasts;
    public List<PeopleModel>? Peoples { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var json = File.ReadAllText("Data/PeopleData.txt");
        Peoples = JsonConvert.DeserializeObject<List<PeopleModel>>(json);
        forecasts = await ForecastService.GetForecastAsync(DateTime.Now);
    }
}
